APP_ENV=development
LOG_LEVEL=INFO
# Para Postgres (Render), descomenta y completa:
# DATABASE_URL=postgresql+psycopg://user:password@host:5432/los_factos
DATABASE_URL=
LOCAL_DATABASE_URL=sqlite+pysqlite:///./los_factos_v2_local.db
DEFAULT_DATE_FORMATS=%Y-%m-%d,%Y-%d-%m
DEFAULT_TIMEZONE=America/Santiago
ENABLE_DEV_DIAGNOSTICS=true
ASSUME_ALL_EXPENSES=true
